.header-jumbo{
	
	color: #fff;
	margin-bottom: 25px;
	text-align: center;
}

#background-header{
	background-color: green;
}
#container{
	width:70%;
	margin:auto;
}

#formSumbit{
	border-style: solid;
	border-width: 5px;
	border-color: green;
}

.table-header{
	text-align: center;
	margin:auto;
}

#employee-entry{
	margin-bottom: 25px;
	margin:auto;
}

.section-banner{
	background-color: #122f6d;
	color: #fff;
	padding:5px;

}

#submit{
	background-color: green;
	border: none;
	transition: background 1s;
	transition: transform .5s;
}

#submit:hover {
	background: #122f6d;
	transform: scale(1.15) translateX(5px);
}

#addEmployeeTable, #formSubmit{
	border-style: solid;
	border-width: 2px;
	border-color: green;
	margin-bottom: 25px;
	border-radius: 5px;
}

#inputContent, #inpuTable{
	padding: 10px;
}